@import url("https://fonts.googleapis.com/css?family=Great+Vibes")

.titleguide
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif
  color: #ddbea1
  font-size: 60px
  margin-top: 90px
  margin-bottom: 40px

.map-container
  display: flex
  align-items: center
  flex-direction: column
