.poititle {
  width: 50%;
  padding: 5px; }

.latitude {
  width: 24%;
  margin-top: 0.5%;
  padding: 5px; }

.longitude {
  width: 24%;
  margin-left: 2%;
  margin-top: 0.5%;
  padding: 5px; }

.description {
  width: 50%;
  margin-top: 0.5%;
  height: auto;
  padding: 5px; }

.link {
  width: 50%;
  margin-top: 0.4%;
  padding: 5px; }

.poieditor {
  text-align: center; }

.pois {
  justify-content: center;
  text-decoration: underline; }

.renderpoi {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px; }
