.photo-header
  display: inline-block
  align-items: center
  justify-content: center
  position: relative
  top: 0
  left: 0
  .banner
    width: 100%
    height: auto
    top: 0
    object-fit: cover
  .banner-logo
    width: 50%
    height: auto
    position: absolute
    bottom: 12%
    left: 50%
    margin-left: -25%
    opacity: 1
