.photo-header
  display: flex
  align-items: center
  justify-content: center
  position: relative
  height: 100vh
  margin-bottom: 10px
  .banner
    width: 100%
    height: auto
    position: absolute
    top: 0
  .banner-logo
    width: 50%
    height: auto
    position: absolute
    top: 25%
