.photo-header {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0; }

.photo-header .banner {
  width: 100%;
  height: auto;
  top: 0;
  object-fit: cover; }

.photo-header .banner-logo {
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 12%;
  left: 50%;
  margin-left: -25%;
  opacity: 1; }

@media (min-width: 576px) and (max-width: 767px) {
  .photo-header .banner-logo {
    width: 70%;
    height: auto;
    margin-left: -35%;
    padding-top: 5%;
    bottom: 9%
  }
}
