@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
.countdownSection {
  background-color: #526A52;
  height: 200px;
  text-align: center;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center; }

.countdownSection .countDownFinished h2 {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  font-size: 100px;
  margin-top: 36px; }

.countdownSection .count-down {
  max-width: 800px;
  display: flex;
  flex-direction: column; }

.countdownSection .count-down h3 {
  font-size: 23px;
  margin-left: 20px; }

.countdownSection .count-down .count-down-timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.countdownSection .count-down .count-down-timer p {
  max-width: 50px;
  font-size: 17px;
  font-style: italic;
  margin-top: 10px;
  margin-right: 10px; }

.countdownSection .count-down .count-down-timer p span {
  font-size: 80px;
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 80px; }

.datem {
  padding-right: 170px; }

.dated {
  padding-right: 170px; }

@media (min-width: 768px) and (max-width: 991px) {
  .countdownSection .countDownFinished h2 {
    font-size: 75px;
    margin-top: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .countdownSection .countDownFinished h2 {
    font-size: 55px;
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .countdownSection .count-down h3 {
    font-size: 18px; }

  .datem {
    padding-right: 60px; }

  .dated {
    padding-right: 20px; }

  .datem span, .dateh span {
    padding-left: 10px; }

  .countdownSection .countDownFinished h2 {
    font-size: 55px; }
}
