@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
.titlegifts {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px; }

.gift-text {
  background-color: #526A52;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.gift-text p {
  text-align: center;
  font-size: 24px;
  color: white;
  max-width: 90%;
  margin-left: 5%; }

@media (max-width: 575px) {
  .titlegifts {
    margin-top: 90px; }

  .gift-text {
    background-color: #526A52;
  }

  .gift-text p {
    font-size: 18px;
    padding: 0;
  }
}
