@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
.titlegifts {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px; }

.gift-text {
  background-color: #526A52;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .gift-text p {
    text-align: center;
    font-size: 24px;
    padding: 60px 0;
    color: white;
    max-width: 90%;
    margin-left: 5%; }
    @media screen and (max-width: 990px) {
      .gift-text p {
        font-size: 18px; } }
    @media screen and (max-width: 490px) {
      .gift-text p {
        font-size: 14px; } }
    .gift-text p span {
      font-weight: bold; }
