@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
.titlegifts {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px; }

.gift-text {
  background-color: #526A52;
  height: 150px; }
  .gift-text p {
    text-align: center;
    font-size: 24px;
    padding: 60px 0;
    color: white; }
    .gift-text p span {
      font-weight: bold; }
