Nav
  &.navbar-default
    background-color: #526A52
    border-radius: 0
    border: none
    color: white
    .container
      .navbar-collapse
        ul
          float: none
          align-items: center
          &.navbar-nav
            align-items: center
          li
            a
              color: white
