nav.navbar-default {
  background-color: #526A52;
  border-radius: 0;
  border: none;
  color: white; }
  nav.navbar-default .container {
    overflow: hidden;
    padding: 0; }
    nav.navbar-default .container .navbar-header {
      background-color: transparent; }
    nav.navbar-default .container .navbar-collapse {
      text-align: center; }
      nav.navbar-default .container .navbar-collapse ul {
        float: none;
        align-items: center; }
        @media screen and (min-width: 767px) {
          nav.navbar-default .container .navbar-collapse ul {
            display: flex;
            justify-content: space-between; } }
        nav.navbar-default .container .navbar-collapse ul.navbar-nav {
          align-items: center; }
        nav.navbar-default .container .navbar-collapse ul li a {
          color: white;
          font-weight: bold;
          font-size: 19px;
          padding: 30px; }
          @media screen and (max-width: 991px) {
            nav.navbar-default .container .navbar-collapse ul li a {
              padding: 15px; } }
      nav.navbar-default .container .navbar-collapse.in {
        background-color: #526A52; }

nav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 500; }
  @media screen and (max-width: 766px) {
    nav.fixed {
      background-color: transparent; } }
