Nav.navbar-default {
  background-color: #526A52;
  border-radius: 0;
  border: none;
  color: white; }
  Nav.navbar-default .container .navbar-collapse {
    display: flex;
    align-items: center;
    text-align: center; }
    Nav.navbar-default .container .navbar-collapse ul {
      float: none;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      Nav.navbar-default .container .navbar-collapse ul.navbar-nav {
        align-items: center; }
      Nav.navbar-default .container .navbar-collapse ul li a {
        color: white; }
