nav
  &.navbar-default
    background-color: #526A52
    border-radius: 0
    border: none
    color: white
    .container
      overflow: hidden
      padding: 0
      .navbar-header
        background-color: transparent
      .navbar-collapse
        // display: flex
        // align-items: center
        text-align: center
        ul
          float: none
          align-items: center
          @media screen and (min-width: 767px)
            display: flex
            justify-content: space-between
          &.navbar-nav
            align-items: center
          li
            a
              color: white
              font-weight: bold
              font-size: 19px
              padding: 30px
              @media screen and (max-width: 991px)
                padding: 15px
        &.in
          background-color: #526A52
  &.fixed
    position: fixed
    width: 100%
    top: 0
    z-index: 500
    @media screen and (max-width: 766px)
      background-color: transparent
