Nav
  &.fixed
    position: fixed
    top: 0
  &.navbar-default
    background-color: #526A52
    border-radius: 0
    border: none
    color: white
    .container
      .navbar-collapse
        display: flex
        align-items: center
        text-align: center
        ul
          float: none
          display: flex
          justify-content: space-between
          align-items: center
          &.navbar-nav
            align-items: center
          li
            a
              color: white
