@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
.titleplan {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px; }

.block {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center; }
  .block .accomodation {
    display: flex;
    flex-direction: row; }
  .block .text-info {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 40px;
    background-color: #F4F4F6; }
    .block .text-info h5 {
      font-size: 30px;
      font-weight: bold;
      color: #526A52;
      margin-bottom: 25px; }
    .block .text-info p {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
      color: black; }
      .block .text-info p span {
        font-weight: bold; }
        .block .text-info p span.italic {
          font-style: italic;
          font-weight: normal;
          font-size: 15px; }
    .block .text-info .learn-more {
      color: white;
      font-weight: bold;
      font-size: 17px;
      background-color: #526A52;
      padding: 10px 35px;
      border-radius: 8px;
      font-style: normal;
      margin-top: 40px; }
      .block .text-info .learn-more:hover {
        text-decoration: none; }
  .block .tripPhoto {
    width: 600px;
    height: auto; }
  .block .flights {
    display: flex;
    flex-direction: row-reverse; }
