.block
  display: flex
  flex-direction: column
  align-content: center
  align-items: center
  justify-content: center
  .accomodation
    display: flex
    flex-direction: row
  .text-info
    max-width: 400px
    display: flex
    flex-direction: column
    align-items: center
    padding: 18px 40px
    background-color: #F4F4F6
    h5
      font-size: 2rem
      font-weight: bold
      color: #526A52
    p
      font-size: 1.3rem
      text-align: center
      margin-bottom: 5px
      color: #5C5C5C
      span
        font-weight: bold
        &.italic
          font-style: italic
          font-weight: normal
          font-size: 1.2rem
    .learn-more
      color: white
      font-weight: bold
      background-color: #526A52
      padding: 5px 15px
      border-radius: 10px
      font-style: normal
      margin-top: 30px
      &:hover
        text-decoration: none
  .tripPhoto
    width: 400px
    height: auto
  .flights
    display: flex
    flex-direction: row-reverse
