@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
.storySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 50px; }

.storySection .storyPhoto {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 20px 0;
  margin-bottom: 35px; }

.storySection .quote {
  margin: 30px 0;
  font-style: italic;
  font-size: 45px; }

.titlestory {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  margin-top: 40px; }
  @media screen and (max-width: 500px) {
    .titlestory {
      font-size: 50px; } }

p {
  font-size: 19px; }

@media (min-width: 768px) and (max-width: 991px) {
  .storySection .storyPhoto {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .storySection {
    padding: 0 50px 0 50px; }

  .storySection .storyPhoto {
    height: 200px;
    width: 200px;
  }
}
