@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Raleway:500");
.titlewhen {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px; }
  @media screen and (max-width: 500px) {
    .titlewhen {
      font-size: 50px; } }

.whenwhere {
  margin-top: 60px;
  width: 100%;
  margin-bottom: 60px; }

.column1 {
  width: 33%;
  margin-left: 50px;
  position: relative; }

.columns {
  display: flex; }

.column2 {
  width: 33%;
  position: relative; }

.column3 {
  width: 33%;
  position: relative; }

.pic1 {
  height: 250px;
  width: 85%; }

.pic2 {
  height: 250px;
  width: 85%; }

.textbox1 {
  width: 85%;
  height: 270px;
  background-color: #f4f4f6;
  text-align: center;
  padding-top: 40px; }

.textbox2 {
  width: 85%;
  height: 270px;
  background-color: #f4f4f6;
  text-align: center;
  padding-top: 40px; }

.textbox3 {
  width: 85%;
  height: 270px;
  background-color: #f4f4f6;
  text-align: center;
  padding-top: 40px; }

.pic3 {
  height: 250px;
  width: 85%; }

.eventtitle {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 14px; }

.date1 {
  width: 65%;
  background-color: #526a52;
  align-self: center;
  height: 30px;
  margin-left: 10%;
  color: #f4f4f6;
  border-radius: 3%;
  text-align: center;
  position: absolute;
  top: 235px; }

.date2 {
  width: 65%;
  background-color: #526a52;
  align-self: center;
  height: 30px;
  color: #f4f4f6;
  border-radius: 3%;
  margin-left: 10%;
  text-align: center;
  position: absolute;
  top: 235px; }

.date3 {
  width: 65%;
  background-color: #526a52;
  align-self: center;
  height: 30px;
  color: #f4f4f6;
  margin-left: 10%;
  border-radius: 3%;
  text-align: center;
  position: absolute;
  top: 235px; }

.bold {
  font-weight: bold; }
