.titleacc {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px; }

.accomodation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 100px;
  padding-top: 30px; }

.accomodation-container p a {
  color: #294B2D;
  font-weight: bold;
  text-decoration: underline;
}

.accomodation-container ul {
  text-align: left; }

.accomodation-container ul li {
  margin-left: 12%; }

.accomodation-container ul p {
  margin: 30px 20px 10px 20px; }

.accomodation-container h5 {
  font-size: 2rem;
  font-weight: bold;
  margin: 50px 0;
  text-align: center;
}

.hotel-rooms {
  margin-top: -50px;
  margin-bottom: -20px; }

.hotel-rooms p {
  margin: 0; }

.hotel-rooms p a {
  font-weight: bolder;
  text-decoration: underline;
  color: #294B2D;
}

.hotel-rooms .table-header {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center; }

.tabletext {
  font-size: 15px;
  font-style: italic;
  margin: auto;
  width: 60%;
}

.hotel-rooms .table-header .table-cell {
  border-top: 1px solid #294B2D;
  font-size: 18px;
  font-weight: bold;
  background-color: #F4F4F6;
  display: flex;
  align-items: center;
  justify-content: center; }

.hotel-rooms .table-cell {
  width: 300px;
  height: 75px;
  font-size: 1.4rem;
  border: 1px solid #294B2D;
  border-top: none;
  text-align: center;
  padding: 10px;
  color: #5C5C5C;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 990px) {
    .hotel-rooms .table-cell {
      width: 200px; } }
  @media screen and (max-width: 635px) {
    .hotel-rooms .table-cell {
      width: 150px; } }
    .hotel-rooms .table-cell.no-left {
      border-left: none; }

.hotel-rooms .table-row {
  display: flex;
  justify-content: center;
  margin: 0; }

.hotel-rooms .table-row.dark .table-cell {
  background-color: #C9CFC7; }

.booking-process h5 {
  font-size: 30px;
  font-weight: bold; }

.booking-process p span {
  font-weight: bold; }

@media (min-width: 992px) {
  .table-less {
    display: none; }
}

@media (min-width: 768px) and (max-width: 991px) {
  .table-less {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .table-less {
    display: none;
  }

  .accomodation-container {
    padding: 30px 50px 30px 50px; }

  .hotel-rooms {
    margin-top: -10px;
  }

  .tabletext {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .hotel-rooms {
    display: none; }

  .titleacc {
    font-size: 50px; }

  .accomodation-container {
    padding: 30px 30px 30px 30px; }

  .accomodation-container ul {
    padding-left: 10px;
  }

  .tabletext {
    width: 95%;
    margin-top: -40px;
  }

  .room-card {
    width: 100%;
    background-color: #f4f4f6;
    height: 250px;
    margin-bottom: 25px;
  }

  .room-text {
    text-align: center;
    padding-top: 40px;
  }

  p a.room-title {
    font-weight: 600;
    text-decoration: underline;
    color: #294B2D;
  }
}
