.accomodation-container
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  padding: 100px
  padding-top: 30px
  p
    a
      color: #294B2D
  ul
    text-align: left
    p
      margin: 20px 30px
  h5
    font-size: 2rem
    font-weight: bold
    margin: 50px 0
.hotel-rooms
  margin-top: -50px
  margin-bottom: -20px
  p
    margin: 0
    a
      color: #294B2D
  .table-header
    font-weight: bold
    display: flex
    justify-content: center
    .table-cell
      border-top: 1px solid #294B2D
      background-color: #F4F4F6
      display: flex
      align-items: center
      justify-content: center
  .table-cell
    width: 200px
    height: 75px
    font-size: 1.4rem
    border: 1px solid #294B2D
    border-top: none
    text-align: center
    padding: 10px
    color: #5C5C5C
    display: flex
    align-items: center
    justify-content: center
    &.no-left
      border-left: none
  .table-row
    display: flex
    justify-content: center
    margin: 0
    &.dark
      .table-cell
        background-color: #C9CFC7
.booking-process
  p
    span
      font-weight: bold
