@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Raleway:500");
.title-contact {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 80px; }
  @media screen and (max-width: 500px) {
    .title-contact {
      font-size: 50px; } }

.contact-section .intro {
  text-align: justify;
  margin: 10px 60px; }

.contact-section .intro span {
  font-weight: bold; }

.contact-section .contacts, .contact-section .newly-weds {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.contact-section .contacts p a, .contact-section .newly-weds p a {
  font-weight: bolder;
  text-decoration: underline;
  color: #294B2D;
}

.contact-section .contacts ul, .contact-section .newly-weds ul {
  text-align: left; }

.contact-section .contact-person {
  text-align: center; }

.contact-section .contact-person ul {
  width: auto;
  margin-left: 10px; }

.contact-section .contact-person span {
  font-weight: bold; }

.contact-section .contact-person img.contact-person-img {
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 20px 0; }

.contact-section .contact-person img.background-cross, .contact-section .contact-person img.background-maple {
  height: 180px;
  opacity: 0.08;
  position: absolute;
  top: 235px;
  margin-left: -120px;
  z-index: -1; }

@media (min-width: 576px) and (max-width: 767px) {
  .contact-section .contact-person img.contact-person-img {
    height: 200px;
    width: 200px;
  }

  .contact-section .contacts {
    display: block;
  }

  .contact-section .contact-person img.background-cross {
    top: 180px;
    height: 150px;
    margin-left: -80px;
  }

  .contact-section .contact-person img.background-maple {
    margin-top: 375px;
    height: 150px;
    margin-left: -80px;
  }

  .contact-section .contact-person ul {
    padding-left: 20%;
  }

  .contact-section .newly-weds {
    margin-top: 0;
  }
}
