@import url("https://fonts.googleapis.com/css?family=Great+Vibes")
@import url("https://fonts.googleapis.com/css?family=Raleway:500")

.title-contact
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif
  color: #ddbea1
  font-size: 60px
  text-align: center
  margin-bottom: 40px
  margin-top: 80px

.contact-section
  .intro
    text-align: center
    margin: 10px 60px
    span
      font-weight: bold
  .contacts, .newly-weds
    display: flex
    flex-direction: row
    justify-content: space-around
    ul
      text-align: left
  .contact-person
    text-align: center
    ul
      width: auto
    span
      font-weight: bold
    img
      object-fit: cover
      height: 250px
      width: 250px
      border-radius: 50%
      margin: 20px 0
