@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Raleway:500");
.editor {
  background-image: url("../assets/imgs/bern_streets.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px; }

.rsvp-form {
  background-color: #f4f4f6;
  width: 60%;
  height: 50%;
  margin-left: 20%;
  padding: 60px; }

.title {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 50px; }

.firstname {
  border-color: #294b2d;
  width: 45%;
  margin-right: 10%; }

.lastname {
  border-color: #294b2d;
  width: 45%; }

.fullname {
  border-color: #294b2d;
  width: 45%;
  margin-right: 5%;
  padding-bottom: 5px; }

.email {
  border-color: #294b2d;
  width: 100%; }

.diet {
  border-color: #294b2d;
  width: 100%; }

.songs {
  border-color: #294b2d;
  width: 100%; }

.attend {
  font-weight: 600; }

.eventsattending {
  font-weight: 600; }

.transport {
  font-weight: 600; }

.plus {
  font-weight: 600; }

.sub {
  font-size: 16px;
  font-style: italic; }

.add {
  font-size: 16px;
  margin-left: 4%;
  padding-top: 10px; }

.minus {
  background-color: black;
  margin-right: 8%; }

.addone {
  display: flex; }

.RSVPbutton {
  margin-left: 30%;
  margin-right: 5%;
  width: 20%; }

.cancelbutton {
  width: 20%;
  color: grey; }
