@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Raleway:500");
.rsvpeditor {
  background-image: url("../assets/imgs/bern_streets.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
  padding-top: 80px;
  padding-bottom: 100px; }
  .rsvpeditor .rsvpform {
    background-color: #f4f4f6;
    width: 70%;
    height: 50%;
    margin-left: 15%;
    padding: 5%; }

.attendradio {
  display: flex;
  flex-direction: column; }

label {
  margin-right: 10px; }

label input[type="radio"] {
  margin-right: 3px; }

#adult {
  color: #526152;
  background-color: white;
  border-radius: 2px;
  font-size: 17px;
  width: 172px;
  padding: 8px 0px 6px 25px; }

#child {
  color: #526152;
  background-color: white;
  font-size: 17px;
  border-radius: 2px;
  width: 172px;
  padding: 8px 0px 6px 25px; }

.hiddendiv {
  display: none; }

.visiblediv {
  display: block; }

@media screen and (max-width: 500px) {
  form {
    font-size: 12px; } }

@media screen and (max-width: 500px) {
  p {
    font-size: 15px; } }

@media screen and (max-width: 500px) {
  input::placeholder {
    font-size: 12px; } }

.updown {
  color: white;
  width: auto;
  height: 30px;
  margin-left: 28px; }

.titlersvp {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px; }
  @media screen and (max-width: 500px) {
    .titlersvp {
      font-size: 50px; } }

.afterform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.titleafter {
  text-align: center;
  font-size: 100px;
  margin-top: 10px;
  font-weight: bold; }

.textafter {
  text-align: center;
  font-size: 50px; }

.textafterbold {
  text-align: center;
  font-size: 50px;
  font-weight: bold; }

.imggop {
  margin-top: 30px;
  margin-bottom: 40px; }

.contact-button {
  color: white;
  font-weight: bold;
  font-size: 17px;
  background-color: #526A52;
  padding: 14px 40px;
  border-radius: 6px;
  font-style: normal;
  margin-top: 60px;
  margin-bottom: 40px; }
  .contact-button:hover {
    text-decoration: none;
    color: white; }

.rsvpform .firstname {
  border-color: #294b2d;
  border-width: 1px;
  padding: 3%;
  border-radius: 3px;
  width: 100%; }

.rsvpform .lastname {
  border-color: #294b2d;
  border-width: 1px;
  padding: 3%;
  border-radius: 3px;
  width: 100%; }

.rsvpform .block {
  width: 45%;
  float: left;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start; }
  .rsvpform .block.right {
    float: right; }

.rsvpform .fullname {
  border-color: #294b2d;
  border-width: 1px;
  width: 45%;
  margin-right: 5%;
  padding: 1.5%;
  border-radius: 3px; }

.rsvpform .email-block {
  margin-bottom: 30px; }
  .rsvpform .email-block .email {
    border-color: #294b2d;
    border-width: 1px;
    width: 100%;
    padding: 1.5%;
    border-radius: 3px; }

.rsvpform .diet {
  border-color: #294b2d;
  border-width: 1px;
  width: 100%;
  padding: 1.5%;
  height: 100px;
  border-radius: 3px; }

.rsvpform .songs {
  border-color: #294b2d;
  border-width: 1px;
  width: 100%;
  padding: 1.5%;
  border-radius: 3px; }

.rsvpform #type-field-form {
  float: left; }

.rsvpform .plusones {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 20px; }

.rsvpform button.guest-type, .rsvpform select.guest-type {
  background-color: #526A52;
  border-color: #294b2d;
  padding: 8px 20px 6px 10px;
  border-radius: 2px;
  font-size: 16px;
  color: white; }

.rsvpform .attend-radio-button {
  margin-right: 5px;
  margin-left: 5px; }

.rsvpform .addone {
  display: flex;
  height: 40px; }

.sub {
  font-size: 16px;
  font-style: italic; }
  @media screen and (max-width: 500px) {
    .sub {
      font-size: 12px; } }

.add {
  font-size: 16px;
  margin-left: 4%;
  margin-top: 10px; }

.minus {
  background-color: black;
  margin-right: 8%;
  display: flex;
  height: 40px; }

.RSVPbutton {
  margin-left: 30%;
  margin-right: 5%;
  width: 20%; }
  @media screen and (max-width: 500px) {
    .RSVPbutton {
      margin-left: 20%;
      width: 10%; } }

.cancelbutton {
  width: 20%;
  color: grey; }
  @media screen and (max-width: 500px) {
    .cancelbutton {
      width: 10%; } }

.error {
  font-size: 13px;
  color: #294B2D;
  font-weight: bold; }
