@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
.rsvp-title {
  font-family: 'Great Vibes', Helvetica, Arial, sans-serif;
  color: #ddbea1;
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px; }

.rsvp-text {
  background-color: #526A52;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.rsvp-text p {
  text-align: center;
  font-size: 24px;
  color: white;
  max-width: 90%;
  margin-left: 5%;
}

.rsvp-text p.submit-by {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: white;
  max-width: 90%;
  margin-left: 5%; }

.rsvp-section .rsvp-cta {
  margin-top: 20px;
  text-align: center;
}

.rsvp-section .rsvp-text .rsvp-button {
  width: 10%;
  background-color: #F4F4F6;
  border-radius: 5px;
  color: #5C5C5C;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 8px 40px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .rsvp-text {
    height: 220px;
  }

  .rsvp-text p {
    font-size: 18px;
  }

  .rsvp-text p.submit-by {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .rsvp-text {
    height: 275px;
  }

  .rsvp-text p {
    font-size: 18px;
  }

  .rsvp-text p.submit-by {
    font-size: 16px;
  }

  .rsvp-section .rsvp-text .rsvp-button {
    font-size: 13px;
    font-weight: bolder;
  }
}
