.poi-info-container {
  margin: 40px 0;
  width: 100%; }
  .poi-info-container .point-of-interest {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .poi-info-container .point-of-interest .number-of-point {
      height: 100px;
      width: 100px;
      background-color: #526A52;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .poi-info-container .point-of-interest .number-of-point span {
        font-family: "Raleway Bold";
        font-size: 6rem;
        color: white;
        font-weight: 800; }
    .poi-info-container .point-of-interest .poi-text {
      display: flex;
      flex-direction: column; }
      .poi-info-container .point-of-interest .poi-text .poi-description {
        font-size: 1.7rem; }
    .poi-info-container .point-of-interest .more-button {
      background-color: #526A52;
      border-radius: 5px;
      border-color: #294B2D;
      color: white;
      text-align: center;
      font-weight: bold;
      padding: 5px 30px; }
