.poi-info-container {
  margin-bottom: 40px;
  width: 70%; }

.poi-info-container .point-of-interest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px; }

.poi-info-container .point-of-interest .number-of-point {
  height: 100px;
  width: 100px;
  background-color: #526A52;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.poi-info-container .point-of-interest .number-of-point span {
  font-family: "Raleway";
  font-size: 6rem;
  color: white;
  font-weight: 800; }

.poi-info-container .point-of-interest .poi-text {
  display: flex;
  flex-direction: column;
  width: 70%; }

.poi-info-container .point-of-interest .poi-text .poi-description {
  font-size: 1.7rem; }

.poi-info-container .point-of-interest .more-button {
  background-color: #F4F4F6;
  border-radius: 5px;
  border-color: #294B2D;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 8px 40px; }

  @media (min-width: 768px) and (max-width: 991px) {
    .poi-info-container {
      width: 90%;
    }

    .poi-info-container .point-of-interest .number-of-point {
      height: 70px;
      width: 70px;
    }

    .poi-info-container .point-of-interest .number-of-point span {
      font-size: 4rem;
    }

    .poi-info-container .point-of-interest .poi-text {
      width: 65%;
    }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .poi-info-container {
      width: 90%;
    }

    .poi-info-container .point-of-interest .number-of-point {
      height: 50px;
      width: 50px;
    }

    .poi-info-container .point-of-interest .number-of-point span {
      font-size: 3rem;
    }

    .poi-info-container .point-of-interest .poi-text {
      width: 60%;
    }
  }

  @media (max-width: 575px) {
    .poi-info-container .point-of-interest .number-of-point {
      display: none;
    }

    .poi-info-container .point-of-interest .number-of-point span {
      display: none;
    }

    .poi-info-container {
      width: 90%;
      margin-bottom: 20px;
    }

    .poi-info-container .point-of-interest {
      margin-top: 0;
    }

    .poi-info-container .point-of-interest .more-button {
      padding: 8px 20px;
    }
  }
